<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Controller Client</title>
</head>
<body>
    <div th:if="${message}">
        <h2 th:text="${message}}"></h2>
    </div>

    <div>
        <form method="POST" enctype="multipart/form-data" action="/">
            <table>
                <tr>
                    <td>Imagen a subir</td>
                    <td><input type="file" name="file" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Subir imagen" /></td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        <ul style="list-style-type: none;">
            <li th:each="file : ${files}" style="float: left; margin-right:20px;">
                <img th:src="@{${file}+'/image'}" style="width:150px;" /><br>
                <a th:href="${file}" th:text="${file}" />
            </li>
        </ul>
    </div>
</body>
</html>